header {
    position: relative;
    display: block;
    width: 100%;
    background: #010000;
    color: #ffffff;
    height: 90px;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    /*border: 2px solid red;*/
}  

.container{
    margin: 20px auto;
    width:600px;
    height:600px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 300px 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.kmp {
    text-align: center;
}

.box{
    
    padding:0px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
}

footer {
    position: fixed;
    left:0;
    bottom: 0;
    width: 95%;
    height: 48px;
    text-align: center;
    background-color: orange;
    color: white;
}


.logo {
    position: absolute;
    top: 35%; left: 15px;
    color: #0bc5f3;
    font-size: 40px;
}

.ul {
    list-style-type: none;
    display: flex;
    margin-right: 10px;
}

.li {
    padding: 10px;
}

.create {
    background: orange;
    padding: 10px;
}

.a {
    text-decoration: none;
    font-size: 19px;
    line-height: normal;
    color: #ffffff;
}

.a:hover {
    color: #f30909;
}

.container-fluid {
    line-height: 24px;
}


.nav {
    position: absolute;
    top: 50%; right: 15px;
}